@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sample ASP.NET Core with MVC and SQLite<br />
    Miami, FL <br />
    <abbr title="Phone">P:</abbr>
    (305) 793 2596
</address>
